<div class="tareas-container">
  <h2 class="tareas-titulo">Lista de Tareas</h2>
  <div class="nueva-tarea-container">
    <input class="nueva-tarea-input" type="text" placeholder="Nueva Tarea"
      [(ngModel)]="nuevaTarea" />
    <button class="nueva-tarea-btn" (click)="agregarTarea()">Agregar
      Tarea</button>
  </div>
  <ul class="lista-tareas">
    @for (tarea of listaTareas; track $index) {
    <div class="lista-tareas-container">
      <li class="item-tarea">{{ tarea }}</li>
      <button class="eliminar-tarea-btn"
        (click)="eliminarTarea($index)">Eliminar</button>
    </div>
    }
  </ul>
</div>